.logo{
    width: 5rem;
    height: auto;
    position: absolute;
    right: 42%;
    top: 0;
}

*{
    border: none;
}

.boton-analizar{
    width: 200px !important;
    height: 3rem !important;
    border: 2px solid lightskyblue;
    border-radius: 20px;
    color: lightskyblue;
    background-color: transparent;
}

.verdadero{
    border: 2px solid green !important;
    padding-top: 3rem !important;
}

.inconcluso{
    border: 2px solid lightskyblue !important;
    padding-top: 3rem !important;
}

.verdadero:hover, .verdadero:active{
    border: 2px solid rgb(23, 153, 23) !important;
}

.falso{
    border: 2px solid red !important;
    padding-top: 3rem !important;

}

.falso:hover{
    border: 2px solid rgb(166, 27, 27) !important;
}